<h2><%=l(:label_accounting_status)%></h2>

<% form_tag({:action => 'update', :id => @accounting_status}, :class => "tabular") do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_save) %>
<% end %>
